body {
    background-color: #f5f8c9;
}

.grid {
    width: 300px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    border-style: solid;
}

.grid div {
    width: 30px;
    height: 30px;
}

.snake {
    background-color: #0c520f;
}

.apple {
    background: #ff0000;
}